################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Flowtick.Frontend/.config
/Flowtick.Frontend/bin
/Flowtick.Frontend/obj
/Flowtick.Frontend/Properties/PublishProfiles
*.csproj
*.user
