<link href="~/css/Auth/SignUp/email-verification.css" rel="stylesheet" />
<div class="top-wave"></div>

<div class="signup-section">
    <!-- Top Icon -->
    <div class="top-logo-text">
        <img src="~/img/logo/logo.png" />
        <span>Flowtick</span>
    </div>
    <!-- Signup Card -->
    <div class="signup-card">
        <h2>Get <span>started</span> with Flowtick</h2>
        <p class="subtext">It’s free for up to 10 users – no credit card needed.</p>

        <form id="ProjectForm">
            <div class="email-group mb-2">
                <div class="input-wrapper">
                    <label class="form-label">Project Name</label>
                    <input type="text" id="project" placeholder="Enter Project name" required>
                    <i class="bi bi-check-circle" id="emailCheck"></i>
                </div>
                <button type="button" class="btn btn-signup" id="btnProjectContinue">Continue</button>
            </div>
        </form>

        <p class="note-text">Enter Project Name and click on continue.</p>
    </div>

    <!-- Bottom Atlassian Logo -->
    <div class="bottomLogo">
        <i class="bi bi-symmetry-vertical"></i>
        <span>Fophex</span>
    </div>
</div>