@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_FlowtickLayout.cshtml";
}

@* <link href="~/layout/css/quill.snow.css" rel="stylesheet" /> *@
<style>
    /* 	assigne dropdown css */

    .flowtick-dropdown {
        width: 280px;
        padding: 0;
        border-radius: 10px;
        border: 1px solid #E4E6EA;
        overflow: hidden;
        z-index: 99999;
        transform: translateY(2px);
    }


    .flowtick-dropdown-search {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        border-bottom: 1px solid #E7E9ED;
    }

        .flowtick-dropdown-search .dropdown-avatar {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .flowtick-dropdown-search input {
            border: none;
            outline: none;
            font-size: 14px;
            flex-grow: 1;
        }

    /* User List */
    .dropdown-list {
        max-height: 240px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        /* Scrollbar like Jira */
        .dropdown-list ::-webkit-scrollbar {
            width: 6px;
        }

        .dropdown-list ::-webkit-scrollbar-thumb {
            background: #C6C9CE;
            border-radius: 10px;
        }

    .dropdown-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 12px;
        cursor: pointer;
    }

        .dropdown-item:hover {
            background-color: #e4f7fa !important;
        }

        .dropdown-item:hover {
            background: #F4F5F7;
        }

    .dropdown-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .empty-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #e5e7eb;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6b7280;
        font-size: 14px;
    }

    .user-name {
        font-size: 13px;
    }
    /* Hide Bootstrap caret icon */
    .no-caret::after {
        display: none !important;
    }

    /* Form UI */
    .task-no {
        font-weight: 500;
        margin-right: 6px;
        color: var(--primary-color);
    }

    /* 	.child-task-title{

                                     } */

    .profile-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 6px;
    }

    .status-select {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -0px;
    }

    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
    }

    .create-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px;
        font-size: 14px;
        cursor: pointer;
        color: #374151;
        margin-bottom: 12px;
        background: none;
        border: none;
    }

        .create-btn span:first-child {
            font-size: 22px;
            font-weight: bold;
            line-height: 0;
        }

        .create-btn:hover {
            background-color: #F0F1F2;
        }
    /*
                   Create Card css */
    .flowtick-create-card {
        background: #ffffff;
        border: 2px solid #4688EC;
        border-radius: 5px;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.08);
        width: 100%;
    }

    .flowtick-textarea {
        width: 100%;
        border: none;
        outline: none;
        resize: vertical;
        padding: 10px 10px 0px 10px;
        /* font-size: 14px;
            font-family: Arial, sans-serif; */
        min-height: 60px;
    }

    .flowtick-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px;
        border-top: 1px solid #e8e8e8;
    }

    .left-icons .icon-btn,
    .right-icon .icon-btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        /*       margin-right: 10px; */
        color: #5f6368;
    }

        .left-icons .icon-btn:last-child {
            margin-right: 0;
        }

    .icon-btn:hover {
        color: #1a73e8;
    }

    .left-icons .dropdown {
        display: inline-block;
        /*         margin-right: 10px; */
    }


    .dropdown-menu .dropdown-item i {
        font-size: 16px;
    }

    #childTaskTypeID {
        border: 1px solid #dee2e6;
        border-radius: 6px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    #btnClearFilter:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
</style>


<!-- Main Content -->
<!-- Filter Bar -->
<div class="filter-bar">
    <div class="detail-block mb-0">
        <button class="text-decoration-none  filter-task-assignee-btn dropdown  filter-btn" data-bs-toggle="dropdown" tabindex="0">
            <i class="bi bi-people"></i>
            <span id="filterAssigneeButtonText">Filter by Assignee</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <div class="dropdown-menu filter-task-assignee-menu">
            <!-- Dynamic items will load here -->
        </div>
    </div>
    <div class="detail-block mb-0">
        <button class="text-decoration-none  filter-task-type-btn dropdown  filter-btn" data-bs-toggle="dropdown" tabindex="0" id="filterButton">
            <i class="bi bi-funnel"></i>
            <span id="filterButtonText">Filter by Type	</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <div class="dropdown-menu filter-task-type-menu">
            <!-- Dynamic items will load here -->
        </div>
    </div>
    <button class="filter-btn border-0 bg-transparent d-none" id="btnClearFilter">
        Clear filter
    </button>

    <button class="filter-btn" id="btnFilterOnlyTitle">
        <i class="bi bi-funnel"></i>
        Only Title
        <input type="checkbox" id="cbFilterOnlyTitle" />
    </button>

    <button class="filter-btn">
        <i class="bi bi-calendar3"></i>
        Sprint
        <i class="bi bi-chevron-down"></i>
    </button>
    <button class="btn-create ms-auto" data-bs-toggle="modal" data-bs-target="#taskModal">
        <i class="bi bi-plus-lg"></i>
        Create Issue
    </button>
</div>

<!-- Board Container -->
<div class="board-container">
    <div class="board-columns" id="boardColumns">
        <!-- Columns will be rendered here by jQuery -->
    </div>
</div>


@{
    @await Html.PartialAsync("~/Views/Shared/PartialViews/Board/_ProjectTaskModalPartialView.cshtml")
    ;
}




@* <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> *@
<script src="~/layout/js/quill.js"></script>
<script src="~/js/functionalityjs/board/project-board.js"></script>
<script>
    let isTaskStatusesLoaded = false;
    var _taskStatusesArray = [];
    let isProjectMemberLoaded = false;
    var _projectMember = []
        , _getProjectEpics = []
        , _projectTasksArray = []
        ;
    let isTaskTypeLoaded = false;
    var _taskTypes = [];

    let statusID = 0, projectId = 0;
    var assigneeID;
    var reporterID;
    var reviewerID;
    var loginUserID;

    // Initialize on document ready
    $(document).ready(function () {

        //take data from access token
        const token = localStorage.getItem("accessToken");
        const tokenData = parseJwt(token);
        var userId = tokenData["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];
        loginUserID = userId;

        //end



        var urlParams = new URLSearchParams(window.location.search);
        projectId = urlParams.get('id');
        projectId = (getAndDecryptID(projectId));



        // Filter  dropdown
        $(document).on('keyup', '.seach-user-dropdown', function (e) {
            e.stopImmediatePropagation();
            let value = $(this).val().toLowerCase();

            let dropdown = $(this).closest('.flowtick-dropdown');

            dropdown.find('.dropdown-item').each(function () {
                $(this).toggle(
                    $(this).find('.user-name').text().toLowerCase().includes(value)
                );
            });
        });

        if (!isTaskStatusesLoaded) {
            getTaskStatus();
        }
        if (!isProjectMemberLoaded) {
            getProjectMembers();
        }
        if (!isTaskTypeLoaded) {
            getTaskTypes();
        }


        initTooltips();

        // Enable Bootstrap tooltips
        $('[data-bs-toggle="tooltip"]').tooltip();

        // Search Functionality
        $('#searchInput').on('input', function () {
            const searchTerm = $(this).val().toLowerCase();

            $('.task-card').each(function () {
                const title = $(this).find('.task-title').text().toLowerCase();
                const id = $(this).find('.task-id').text().toLowerCase();

                if (title.includes(searchTerm) || id.includes(searchTerm)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

            // Update column counts
            $('.board-column').each(function () {
                const visibleCount = $(this).find('.task-card:visible').length;
                $(this).find('.column-count').text(visibleCount);
            });
        });

        $('#btnFilterOnlyTitle').on('click', function (e) {

            const checkbox = $("#cbFilterOnlyTitle");
            checkbox.prop("checked", !checkbox.prop("checked"));

            $('.task-card-header').toggleClass('d-none');
            $('.task-labels').toggleClass('d-none');
            $('.task-footer').toggleClass('d-none');
        });


        $('#SideBarParent').on('click', function () {
            $(".task-modal").addClass("task-modal-fade-effect");            
            $(".task-modal").removeClass("show");
            getTaskDetail($(this).data("id"));
            setTimeout(function () {
                $(".task-modal").addClass("show");
            }, 300);
            
        });
    });

    // Handle for assigne user in create task selection
    $(document).on("click", ".create-task-user-list .dropdown-item", function () {

        let userId = $(this).data("id");
        let username = $(this).data("name");
        let avatar = `<div class="assignee-avatar-sm profile-image" data-user-id="${userId}">${getInitials(username)}</div>`;

        $(this).closest(".dropdown").find('.create-task-user').html(avatar);
    });

    // Handle for assignee in  task card
    $(document).on("click", ".card-user-list .dropdown-item", function (e) {
        e.stopPropagation();

        let userId = $(this).data("id");
        let username = $(this).data("name");

        let avatar = `<div class="assignee-avatar-sm" data-id="${userId}">${getInitials(username)}</div>`;

        $(this).closest(".dropdown").find(".selected-card-assignee").html(avatar);

        const selectedTasId = $(this).closest(".task-card").data("task-id");
        updateTaskAssignee(selectedTasId, userId);

    });


    $(document).click(function (e) {
        if (!$(e.target).closest("#createCardBox, #createBtn").length) {
            $("#createCardBox").hide();
            $("#createBtn").show();
        }
    });

    //handle click of task type
    $(document).on("click", ".task-type-menu .dropdown-item", function (e) {
        e.preventDefault();

        // Get values from clicked element
        var id = $(this).data("id");
        var icon = $(this).find("i").attr("class");
        var style = $(this).find("i").attr("style");
        var text = $(this).text().trim();

        // Find the specific dropdown button for this menu
        var $btn = $(this).closest(".dropdown").find(".task-type-btn");

        // Update only this button
        $btn.attr("data-id", id);
        $btn.find("i").attr("class", icon).attr("style", style);
        $(".task-type-btn span").text(text);
    });



    function getSubTaskById(subTaskId = null) {
        let url = `flowtick/tasks/${subTaskId}`;
        apiRequest({
            url: url,
            type: 'GET',
            data: {},
            callBack: function (response) {
                if (response.request.status === 200) {
                    openTaskModal(response.data)
                }
                else {
                    errorExtractor(response);
                }
            }
        });
    }


    function getTaskTypes() {
        apiRequest({
            url: 'flowtick/task/types',
            type: 'GET',
            data: {},
            callBack: getTaskTypesCallBack
        });
    }
    var getTaskTypesCallBack = function (response) {
        if (response.request.status === 200) {


            _taskTypes = response.data; // your array
            loadTaskTypeDropdown();
            loadFilterTaskTypeDropdown();
        }
        else {
            errorExtractor(response);
        }
    };
    function loadTaskTypeDropdown() {

        // default selected type in create task  id = 3
        var defaultItem = _taskTypes.find(x => x.id == 3);
        if (defaultItem) {
            $(".task-type-btn").attr("data-id", defaultItem.id);
            $(".task-type-btn i").attr("class", defaultItem.icon).attr("style", defaultItem.iconCSS.replace('style="', '').replace('"', ''));

            $(".task-type-btn span").text(defaultItem.description);
        }

        // default selected type in create Subtask  id = 4
        var defaultItemForSubTask = _taskTypes.find(x => x.id == 4);
        if (defaultItemForSubTask) {
            $(".default-selected-value").attr("data-id", defaultItemForSubTask.id);
            $(".default-selected-value i").attr("class", defaultItemForSubTask.icon).attr("style", defaultItemForSubTask.iconCSS.replace('style="', '').replace('"', ''));

            $(".default-selected-value span").text(defaultItemForSubTask.description);
            $(".default-selected-value").attr("readonly");
        }

        var $taskTypeMenu = $('.task-type-menu');

        $taskTypeMenu.empty(); // Clear old items
        // $taskTypeMenu.append(`
        //                               <li selected>
        //                                   <a class="dropdown-item" href="#" data-id="${0}">

        //                                      All
        //                                   </a>
        //                               </li>
        //                           `);
        $.each(_taskTypes, function (index, item) {
            var li = `
                                      <li>
                                          <a class="dropdown-item" href="#" data-id="${item.id}">
                                              <i class="${item.icon} " ${item.iconCSS}></i>
                                              ${item.description}
                                          </a>
                                      </li>
                                  `;

            $taskTypeMenu.append(li);
        });
    }
    function getTaskStatus() {
        apiRequest({
            url: 'flowtick/task/statuses',
            type: 'GET',
            data: {},
            callBack: getTaskStatusCallBack
        });
    }
    var getTaskStatusCallBack = function (response) {

        if (response.request.status === 200) {
            isTaskStatusesLoaded = true;
            _taskStatusesArray = response.data;
            loadStatusDropdown();
            getProjectTasks();


        }
        else {
            _taskStatusesArray = [];
            errorExtractor(response);
        }
    };

    function getProjectMembers() {
        let url = `flowtick/project/${projectId}/members`;
        apiRequest({
            url: url,
            type: 'GET',
            data: {},
            callBack: getProjectMembersCallBack
        });
    }
    var getProjectMembersCallBack = function (response) {
        if (response.request.status === 200) {

            _projectMember = response.data

            setTimeout(function () {
                loadProjectUserDropdown("card-user-list", "selected-card-assignee");
                loadProjectUserDropdown("create-task-user-list", "create-task-user", loginUserID);
            }, 500);

            loadFilterTaskAssigneeDropdown();
        }
        else {
            _projectMember = [];
            errorExtractor(response);
        }
    };

    function loadStatusDropdown() {
        var selectedItem = _taskStatusesArray.find(x => x.id == statusID);
        if (selectedItem) {
            $(".btn-task-status").attr("data-id", selectedItem.id);

            $(".btn-task-status span").text(selectedItem.description);
        }

        var $taskStatusList = $('.task-status-list');

        $taskStatusList.empty(); // Clear old items

        $.each(_taskStatusesArray, function (index, item) {
            var li = `
                                                                                         <li>
                                                                                             <a class="dropdown-item" href="#" data-id="${item.id}" style="font-size:13px;">
                                                                                                 <i class="${item.icon} " ${item.iconCSS}></i>
                                                                                                 ${item.description}
                                                                                             </a>
                                                                                         </li>
                                                                                     `;

            $taskStatusList.append(li);
        });
    }
    // Render Board
    function renderBoard() {
        const container = $('#boardColumns');
        container.empty();
        // console.log(_taskStatusesArray);
        _taskStatusesArray.forEach(column => {
            const tasks = [];//boardData.tasks.filter(task => task.status === column.id);

            const columnHtml = `
                                                     <div class="board-column">
                                                         <div class="column-header">
                                                             <div class="column-title-wrapper">
                                                                     <h2 class="column-title">${column.description}</h2>
                                                                 <span class="column-count">${tasks.length}</span>
                                                             </div>
                                                             <button class="icon-btn">
                                                                 <i class="bi bi-plus-lg"></i>
                                                             </button>
                                                         </div>
                                                         <div class="column-content ${column.cssClass}" data-status="${column.id}">
                                                             ${tasks.map(task => renderTaskCard(task)).join('')}
                                                         </div>
                                                     </div>
                                                 `;

            container.append(columnHtml);
        });
    }


    function getProjectTasks() {
        let url = `flowtick/project/${projectId}/tasks`;
        apiRequest({
            url: url,
            type: 'GET',
            data: {},
            callBack: getProjectTasksCallBack
        });
    }
    var getProjectTasksCallBack = function (response) {
        if (response.request.status === 200) {
            // debugger;
            _projectTasksArray = response.data;
            const container = $('#boardColumns');
            container.empty();
            // console.log(_taskStatusesArray);
            _taskStatusesArray.forEach(column => {
                const tasks = (response.data || []).filter(item => item.status?.id === column.id);;//boardData.tasks.filter(task => task.status === column.id);

                const isTodoColumn = column.id === 1;

                const columnHtml = `
                                                         <div class="board-column">
                                                             <div class="column-header">
                                                                 <div class="column-title-wrapper">
                                                                         <h2 class="column-title">${column.description}</h2>
                                                                     <span class="column-count">${tasks.length}</span>
                                                                 </div>
                                                                 <button class="icon-btn">
                                                                     <i class="bi bi-plus-lg"></i>
                                                                 </button>
                                                             </div>
                                                             <div class="column-content ${column.cssClass}" data-status="${column.id}">
                                                                 ${tasks.map(task => renderTaskCard(task)).join('')}

                                                                     ${isTodoColumn ? `
                                                                     <div class="create-task-wrapper">
                                                                         <button id="createBtn" class="create-btn" onclick="toggleCreateCard()">
                                                                             <span>+</span> Create
                                                                         </button>
                                                                         <div id="createCardBox" style="display:none;">
                                                                             <div class="flowtick-create-card" id="flowtickCard">
                                                                                 <form id="creatTaskForm">
                                                                                     <textarea class="flowtick-textarea" id="taskTitle" placeholder="Write something..." required tabindex="0"></textarea>
                                                                                 </form>
                                                                                 <div class="flowtick-footer">
                                                                                     <div class="left-icons">
                                                                                         <!-- Epic/Task/Bug dropdown -->
                                                                                         <div class="dropdown">
                                                                                             <a class="text-decoration-none icon-btn dropdown-toggle task-type-btn" data-bs-toggle="dropdown" id="createTaskTypeID" tabindex="0">
                                                                                                 <i></i><span class="d-none"></span>
                                                                                             </a>
                                                                                             <div class="dropdown-menu task-type-menu">
                                                                                                 <!-- Dynamic items will load here -->
                                                                                             </div>
                                                                                         </div>
                                                                                         <div class="dropdown">
                                                                                             <a class="icon-btn dropdown-toggle no-caret create-task-user" data-bs-toggle="dropdown" id="createTaskUserID" tabindex="0"></a>
                                                                                             <div class="dropdown-menu flowtick-dropdown">
                                                                                                 <div class="flowtick-dropdown-search">
                                                                                                     <i class="bi bi-search"></i>
                                                                                                     <input type="text" class="seach-user-dropdown" placeholder="Search users">
                                                                                                 </div>

                                                                                                 <ul class="dropdown-list create-task-user-list"></ul>
                                                                                             </div>
                                                                                         </div>
                                                                                     </div>
                                                                                     <div class="right-icon">
                                                                                         <button class="icon-btn "  onclick="createTask()"  ><i class="bi bi-box-arrow-right"></i></button>
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 ` : ''}

                                                             </div>
                                                         </div>
                                                     `;

                container.append(columnHtml);


            });
            filterTasks();
            loadTaskTypeDropdown();

            setTimeout(function () {
                loadProjectUserDropdown("card-user-list", "selected-card-assignee");
                loadProjectUserDropdown("create-task-user-list", "create-task-user", loginUserID);
            }, 300);

        }
        else {
            errorExtractor(response);
        }
    };
    // Render Task Card
    function renderTaskCard(task) {
        // console.log(task);
        const typeIcons = {
            epic: '<i class="bi bi-lightning-charge task-type-icon epic"></i>',
            story: '<i class="bi bi-check-circle task-type-icon story"></i>',
            task: '<i class="bi bi-circle task-type-icon task"></i>',
            bug: '<i class="bi bi-bug task-type-icon bug"></i>'
        };

        const labels = task.labels && task.labels.length > 0
            ? `<div class="task-labels">${task.labels.map(label =>
                `<span class="task-label" role="button" onclick="filterTaskById(event,'${encryptNumber(task.id)}','${encryptNumber(task.parent.id)}')">${label}</span>`
            ).join('')}</div>`
            : '';
        const parentTask = task.parent != null
            ? `<div class="task-labels">
                                     <span class="task-label" role="button" onclick="filterTaskById(event,'${encryptNumber(task.id)}','${encryptNumber(task.parent.id)}')"> ${task.parent.title} </span>
                  </div>`
            : '';

        const subtasks = task.child
            ? `<div class="subtask-info">
                                                          <i class="bi bi-check-circle"></i>
                                                              <span>${0}/${task.child.length}</span>
                                                        </div>`
            : '';

        console.log(`task.id - ${task.id}`);
        if (task.parent != null) {

            console.log(`task.parent.id - ${task.parent.id}`);
        }
        return `<div class="task-card cursor-pointer" onclick="filterTaskById(event,'${encryptNumber(task.id)}','${0}')" data-task-id="${task.id}">
                                  <div class="task-card-header">
                                      <div class="task-meta" data-type-id="${task.type.id}">
                                          <i class="${task.type.icon}" ${task.type.iconCSS}></i>
                                              <span class="task-id">${task.code}</span>
                                      </div>
                                      <button class="task-menu-btn">
                                          <i class="bi bi-three-dots"></i>
                                      </button>
                                  </div>
                                  <h3 class="task-title">${task.title}</h3>
                                      ${parentTask}
                                  ${labels}
                                  <div class="task-footer">
                                      <div class="task-indicators">
                                          <i class="bi bi-flag priority-icon ${task.priority}"></i>
                                          ${subtasks}
                                      </div>

                                       <div class="dropdown">
                                          <div class="dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                               <div class="selected-card-assignee d-flex align-items-center"onclick="event.stopPropagation();">
                                                   <div class="assignee-avatar-sm" data-assignee-id="${task.assignee.id}">${getInitials(task.assignee.name)} </div>
                                              </div>
                                          </div>

                                          <div class="dropdown-menu flowtick-dropdown">
                                             <div class="flowtick-dropdown-search">
                                                <i class="bi bi-search"></i>
                                               <input type="text" class="seach-user-dropdown" placeholder="Search users">
                                             </div>

                                             <ul class="dropdown-list   card-user-list" ></ul>
                                           </div>
                                       </div>
                                  </div>
                          </div>`;


    }

    function filterTaskById(event, id = null, parentId = null) {
        if (event.target.closest(".task-label")) {
            id = decryptToNumber(parentId);
        }
        else {
            id = decryptToNumber(id);
        }

        const task = (_projectTasksArray || []).find(row => row.id == id);
        openTaskModal(task);
    }
    function openTaskModal(task = null) {

        if (task.type.description == 'Sub-task') {
            $('#childWorkPanel').hide();
        }
        else {
            $('#childWorkPanel').show();
        }
        //  Get task data
        const typeIcon = task ? task.type.icon : '';// $(this).data("type-icon");
        const typeStyle = task ? task.type.iconCSS : ''; // $(this).data("type-style");

        if (typeIcon) {
            //if icon exsist show this
            $("#modalTaskTypeIcon i").attr("class", (task ? task.type.icon : '')).attr("style", (task ? task.type.iconCSS.replace(/^style="|"$|'/g, '') : ''));
        }
        else {
            //if not  exsist show this dummy icon
            $("#modalTaskTypeIcon i").attr("class", "bi bi-circle").attr("style", "");
        }
        /* Commented this as handling now in Task GetById
        if (task.type.description == 'Task' || task.type.description == 'Story') {// typeIcon === 'bi bi-check-square' || typeIcon === 'bi bi-check2-square') {
            $('#epicDropdown').show();
            $(".link-icon").css("display", "block");
        } else {
            $('#epicDropdown').hide();
            $(".link-icon").css("display", "none");
        }
        */
        $(".project-epics-list").empty();

        $(".task-modal").fadeIn(500);

        getTaskDetail(task ? task.id : 0);
        /* Commented as betting Linking detail in task getbyId
        getProjectEpics();
        */
    }
    function loadProjectUserDropdown(dropdownList, targetSelectedUser, selectedUserId = null) {
        // debugger;
        let html = "";
        let users = _projectMember;

        // If a selected user is passed, use that one
        let selectedUser = selectedUserId ? users.find(x => x.userId == selectedUserId) : null;
        let hideName = (targetSelectedUser === "create-task-user" || targetSelectedUser === "selected-card-assignee") ? "d-none" : "";


        if (selectedUser) {
            let userProfile = "";
            userProfile = `

                                          <div class="assignee-avatar-sm profile-image" data-user-id="${selectedUser.userId}" >${getInitials(selectedUser.user)} </div>
                                         <span class="user-name ms-2  ${hideName}">${selectedUser.user}</span>
                                     `;

            $("." + targetSelectedUser).html(userProfile);
        }
        else {
            // If Selected User is not pass CLEAR previous modal data & show default and for task cards show the selected in the loop which we set not set there
            if (targetSelectedUser !== "selected-card-assignee" && targetSelectedUser !== "subtask-selected-assignee") {
                $("." + targetSelectedUser).html(`
                                         <img src="https://ui-avatars.com/api/?name=U&background=cccccc&color=ffffff&size=32"
                                              class="dropdown-avatar" />
                                         <span class="user-name ms-2">Unassigned</span>
                                     `);
            }
        }

        // Render dropdown list
        users.forEach(user => {
            html += `
                                         <li class="dropdown-item" data-name="${user.user}" data-id="${user.userId}">
                                             <div class="assignee-avatar-sm profile-image">${getInitials(user.user)} </div>
                                             <span class="user-name ms-2">${user.user}</span>
                                         </li>
                                     `;
        });

        $("." + dropdownList).html(html);
    }

    function getProjectEpics() {

        if (_getProjectEpics.length > 0) {

            var $projectEpics = $(".project-epics-list");
            $projectEpics.empty();

            $.each(_getProjectEpics, function (index, item) {
                var li = `
                                         <li class="dropdown-item selecte-epic"  data-id="${item.id}"data-code="${item.code}">
                                              <i class="bi bi-lightning-charge task-icon"></i>
                                                 <span class="user-name epic-code">${item.code}</span>
                                             <span class="user-name ms-2">${item.title}</span>
                                         </li>
                                 `;
                $projectEpics.append(li);
            });
            return;

        }
        let url = `flowtick/project/${projectId}/tasks/epic`;
        apiRequest({
            url: url,
            type: 'GET',
            data: {},
            callBack: getProjectEpicsCallBack
        });
    }
    var getProjectEpicsCallBack = function (response) {

        if (response.request.status === 200) {

            _getProjectEpics = response.data; // your array

            /* console.log(_getProjectEpics);*/

            var $projectEpics = $(".project-epics-list");  // jQuery object
            $projectEpics.empty();

            $.each(_getProjectEpics, function (index, item) {
                var li = `
                                         <li class="dropdown-item selecte-epic"  data-id="${item.id}"data-code="${item.code}">
                                              <i class="bi bi-lightning-charge task-icon"></i>
                                                 <span class="user-name epic-code">${item.code}</span>
                                             <span class="user-name ms-2">${item.title}</span>
                                         </li>
                                 `;
                $projectEpics.append(li);
            });

        }
        else {
            errorExtractor(response);
        }
    };

    function createTask(taskType = null) {
        debugger;


        var inputJSON = {
            "title": null,
            "assigneeId": loginUserID,
            "reporterId": loginUserID,
            "reviewerId": loginUserID,
            "statusId": 1,
            "typeId": null,
            "parentId": null   // epicId is empty

        };


        if (taskType == 'subTask') {
            if (!customValidateForm('subTaskForm')) {
                return; // stop execution
            }
            inputJSON.title = $("#childWorkTitle").val().trim();

            inputJSON.typeId = $("#childTaskTypeID").data("id");

            inputJSON.parentId = $("#modalTaskID").val();

        }
        else {
            /*      cheack validation for task only*/
            if (!customValidateForm('creatTaskForm')) {
                return; // stop execution
            }
            inputJSON.title = $("#taskTitle").val().trim();

            inputJSON.typeId = $("#createTaskTypeID").data("id");

            inputJSON.assigneeId = $("#createTaskUserID .profile-image").data("user-id");
        }


        let url = `flowtick/project/${projectId}/tasks`;


        apiRequest({
            url: url,
            type: 'POST',
            data: inputJSON,
            callBack: createTaskCallBack,
            //| Below are used to pass to the callback for condition purposes
            taskType: taskType,
            parentId: inputJSON.parentId
        });


    }
    var createTaskCallBack = function (response, options) {
        if (response.request.status === 201) {
            successToastr($("#taskTitle").val(), 'success');
            getProjectTasks();
            if (options.taskType == 'subTask') {
                loadChildTasks(options.parentId);
            }

            $("#createCardBox").hide();
            $("#createBtn").show();
            $("#taskTitle").val("");
        }
        else {
            errorExtractor(response);
        }
    };

    function getTaskDetail(taskID) {
        //debugger;
        let url = `flowtick/tasks/${taskID}`;
        apiRequest({
            url: url,
            type: 'GET',
            data: {},
            callBack: getTaskDetailCallBack
        });
    }
    var getTaskDetailCallBack = function (response) {
        if (response.request.status === 200) {
            //debugger;
            const getTaskData = response.data
            assigneeID = getTaskData.assignee.id;
            reviewerID = getTaskData.reviewerId;
            reporterID = getTaskData.reporterId;
            statusID = getTaskData.status.id;

            // $("#taskStatusID").text(getTaskData.status.name)
            $("#modalTaskID").val(getTaskData.id);
            /*     $("#modalSubTaskID").val("");*/
            $("#modalTaskCode").text(getTaskData.code);
            $("#modalTaskTitle").val(getTaskData.title);
            /*
            if (getTaskData.description && getTaskData.description.trim() !== "") {
                quill.root.innerHTML = getTaskData.description;
            } else {
                quill.root.innerHTML = "Add description here.";
            }
            */
            // tinymce.get('DescriptionEditor').on('SetContent', function () {

            //     const imgs = this.getBody().querySelectorAll('img[data-file]');
            //     imgs.forEach(img => wrapImage(img));

            // });
            //tinymce.set('DescriptionEditor').getContent()
            tinymce.get("DescriptionEditor").setContent(
                getTaskData.description ? getTaskData.description : "Add Description here"
            );

            /*   selected epic code and id */
            $('.selected-epic-code span').text(getTaskData.parent ? getTaskData.parent.code : 'no parent');
            $('.selected-epic-code').attr('data-id', getTaskData.parent ? getTaskData.parent.id : '');
            
            /// RIGHT SIDE PANEL - PARENT LINKING/SHOWING
            if (getTaskData.parent) {                
                $('#SideBarParentContainer').show();
                $('#SideBarParent .task-no').text(getTaskData.parent.code );
                $('#SideBarParent .child-task-title').text(getTaskData.parent.title);
                $('#SideBarParent .task-no').css('font-weight', 'bold');
                $('#SideBarParent .child-task-title').css('font-weight', 'bold');            
                $('#SideBarParent').attr('data-id', getTaskData.parent.id);
            }
            else{
                $('#SideBarParentContainer').hide();
            }
            /// RIGHT SIDE PANEL - PARENT LINKING/SHOWING
            
            ///Epic / Parent Linking Code Logic Goes here
            $('[data-bs-toggle="tooltip"]').tooltip();
            if (getTaskData.linking != null) {
                $('#epicParentLinkDropdown').addClass('d-flex').show();
                $('#epicParentLinkIcon').removeClass();
                $('#epicParentLinkIcon').addClass(getTaskData.linking.icon).attr("style", (getTaskData.linking.iconCSS.replace(/^style="|"$|'/g, '')));


                var $projectEpics = $(".project-epics-list");  // jQuery object
                $projectEpics.empty();

                $.each(getTaskData.linking.items, function (index, item) {
                    var li = `
                                                 <li class="dropdown-item selecte-epic"  data-id="${item.id}"data-code="${item.code}">
                                                      <i class="${item.type.icon}" ${item.type.iconCSS}></i>
                                                         <span class="user-name epic-code">${item.code}</span>
                                                     <span class="user-name ms-2">${item.title}</span>
                                                 </li>
                                         `;
                    $projectEpics.append(li);
                });
            }
            else {
                $('#epicParentLinkDropdown').removeClass('d-flex').hide();
            }
            ///Ends - Epic / Parent Linking Code Logic Goes here

            const getChild = getTaskData.child;

            //getAllSubTaskOfModal(getChild)

            loadChildTasksTable(getTaskData, getChild);

            loadProjectUserDropdown("asignee-user-list", "selected-assignee", assigneeID);
            loadProjectUserDropdown("reporter-user-list", "selected-reporter", reporterID);
            loadProjectUserDropdown("reviewer-user-list", "selected-reviewer", reviewerID);

            setTimeout(function () {
                loadProjectUserDropdown("subtask-user-list", "subtask-selected-assignee");
            }, 300);

            loadStatusDropdown();


            // comment code start
            const getComments = getTaskData.comments;

            renderComments(getComments);

            /// GET TASK ATTACHMENTS
            getTaskAttachments(getTaskData.id);
            /// GET TASK ATTACHMENTS
        }
        else {
            //debugger;
            errorExtractor(response);
        }
    };

    function loadChildTasksTable(parentTask = {}, tasksArray = []) {
        var $subtasktbody = $('#childWorkTableTbody');
        $subtasktbody.empty(); // Clear old items

        $.each(tasksArray, function (index, item) {
            var tr = `
                                                     <tr data-id="${item.id}">
                                                         <td>
                                                         <i class="${item.type ? item.type.icon : ''} task-icon" ${item.type ? item.type.iconCSS : ''}></i>
                                                             <span class="task-no sub-task-detail" onclick="getSubTaskById(${item.id});" role="button">${item.code}</span>
                                                             <span class="child-task-title">${item.title}</span>
                                                         </td>
                                                         <td>
                                                             <i class="bi bi-filter " style="color:#E06C00"></i>
                                                                 Medium
                                                         </td>
                                                             <td hidden>${parentTask.title}</td>
                                                         <td>
                                                         <div class="dropdown">
                                                             <div class="dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                                                 <div class="subtask-selected-assignee d-flex align-items-center">
                                                                           <div class="assignee-avatar-sm">${getInitials(item.assignee.name)} </div>
                                                                     <span class="user-name ms-2">${item.assignee ? item.assignee.name : ''}</span>
                                                                 </div>
                                                             </div>

                                                             <div class="dropdown-menu flowtick-dropdown">
                                                                 <div class="flowtick-dropdown-search">
                                                                     <i class="bi bi-search"></i>
                                                                     <input type="text" class="seach-user-dropdown" placeholder="Search users">
                                                                 </div>

                                                                 <ul class="dropdown-list  subtask-user-list" ></ul>
                                                             </div>
                                                         </div>
                                                         </td>
                                                         <td>
                                                            <div class="dropdown" >
                                                              <a class="text-decoration-none dropdown-toggle btn-task-subtask-status btn-create" data-bs-toggle="dropdown"data-id="${item.status.id}">
                                                                   <span>${item.status.name}</span>
                                                              </a>

                                                             <ul class="dropdown-menu task-status-list select-task-subTask-status">
                                                                  <!-- Dynamic items will load here -->
                                                             </ul>
                                                           </div>
                                                         </td>
                                                     </tr>
                                                  `;
            $subtasktbody.append(tr);
        });
    }

    function toggleCreateCard() {
        $("#createCardBox").show();
        $("#createBtn").hide();
    }

    function updateTaskAssignee(taskId, selectedAssigneeId) {

        debugger;
        let url = `flowtick/tasks/${taskId}/assignee`;
        apiRequest({
            url: url,
            type: 'PUT',
            data: {
                "assigneeId": selectedAssigneeId
            },
            callBack: updateTaskAssigneeCallBack
        });
    }
    var updateTaskAssigneeCallBack = function (response) {
        if (response.request.status === 204) {
            successToastr("Assigned successfully", 'Assignee');
            getProjectTasks();
        }
        else {
            errorExtractor(response);
        }
    };

</script>


