@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_FlowtickLayout.cshtml";
}

<link href="~/css/board/project-board.css" rel="stylesheet" />

<!-- Main Content -->
<!-- Filter Bar -->
<div class="filter-bar">
    <div class="detail-block mb-0">
        <button class="text-decoration-none  filter-task-assignee-btn dropdown  filter-btn" data-bs-toggle="dropdown" tabindex="0">
            <i class="bi bi-people"></i>
            <span id="filterAssigneeButtonText">Filter by Assignee</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <div class="dropdown-menu filter-task-assignee-menu">
            <!-- Dynamic items will load here -->
        </div>
    </div>
    <div class="detail-block mb-0">
        <button class="text-decoration-none  filter-task-type-btn dropdown  filter-btn" data-bs-toggle="dropdown" tabindex="0" id="filterButton">
            <i class="bi bi-funnel"></i>
            <span id="filterButtonText">Filter by Type	</span>
            <i class="bi bi-chevron-down"></i>
        </button>
        <div class="dropdown-menu filter-task-type-menu">
            <!-- Dynamic items will load here -->
        </div>
    </div>
    <button class="filter-btn border-0 bg-transparent d-none" id="btnClearFilter">
        Clear filter
    </button>

    <button class="filter-btn" id="btnFilterOnlyTitle">
        <i class="bi bi-funnel"></i>
        Only Title
        <input type="checkbox" id="cbFilterOnlyTitle" />
    </button>

    <button class="filter-btn">
        <i class="bi bi-calendar3"></i>
        Sprint
        <i class="bi bi-chevron-down"></i>
    </button>
    <button class="btn-create ms-auto" data-bs-toggle="modal" data-bs-target="#taskModal">
        <i class="bi bi-plus-lg"></i>
        Create Issue
    </button>
</div>

<!-- Board Container -->
<div class="board-container">
    <div class="board-columns" id="boardColumns">
        <!-- Columns will be rendered here by jQuery -->
    </div>
</div>


@{
    @await Html.PartialAsync("~/Views/Shared/PartialViews/Board/_ProjectTaskModalPartialView.cshtml")
    ;
}


<script src="~/layout/js/quill.js"></script>
<script src="~/js/functionalityjs/board/project-board.js"></script>



