
body {
    background-color: #f4f8ff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Curved top background */
.top-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #eaf2fe;
    border-bottom-left-radius: 150px 80px;
    z-index: 0;
}

.signup-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Top icon */
.top-logo-text {
    /* margin-bottom: 20px;*/
}

    .top-logo-text img {
        font-size: 42px;
        height: 50px;
        width: 50px;
        margin-bottom: 15px;
    }

    .top-logo-text span {
        color: #000000;
        font-size: 42px;
    }

/* Card styling */
.signup-card {
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    max-width: 570px;
    width: 100%;
    padding: 70px 60px 100px 65px;
    text-align: center;
    z-index: 2;
    border: 3px solid #EBEDEF;
}

    .signup-card h2 {
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 8px;
        color: #101214;
        word-spacing: -2.5px;
        line-height: 1.3;
        letter-spacing: -0.5px;
    }

    .signup-card p.subtext {
        font-size: 14px;
        color: #766A81;
        margin-bottom: 0px;
    }

    .signup-card p.email-text {
        font-size: 14px;
        color: #766A81;
    }

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

    .otp-inputs input {
        width: 52px;
        height: 60px;
        text-align: center;
        font-size: 22px;
        border: 2px solid #cbd5e1;
        border-radius: 6px;
        transition: border-color 0.2s;
    }

        .otp-inputs input:focus {
            border-color: #046f76;
            outline: none;
        }

.btn-verify {
    background-color: #00777F;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 10px 0;
    width: 92%;
}

    .btn-verify:hover {
        background-color: #008b99;
        color: #FFFFFF;
    }

    .btn-verify:active {
        background-color: #008b99 !important; /* darker shade for click effect */
        color: #FFFFFF !important;
    }

.gmail-link, .resend {
    margin-top: 40px;
    font-size: 16px;
}

    .gmail-link a, .resend a {
        text-decoration: none;
        color: #7fbce9;
        font-weight: 500;
    }

.bottomLogo {
    margin-top: 25px;
    width: 100px;
}

    .bottomLogo i {
        color: #6F727A;
        font-size: 17px;
        font-weight: bold;
    }

    .bottomLogo span {
        color: #6F727A;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
    }
