@{
    ViewBag.Title = "Backlog";
    Layout = "~/Views/Shared/_FlowtickLayout.cshtml";
}
<!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/css/bootstrap-datepicker.min.css">
<style>

    .collaps-panel{
        padding:12px;
    }
        /* Remove default triangle icon */
    .collaps-panel summary {
            list-style: none;
            cursor: pointer;
            padding: 10px 0px;
            display: flex;
            align-items: center;
        }

    .backlog-header-icon {
        background: transparent;
        border: 1px solid #F1F2F4;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #444;
        padding: 0;
        transition: background 0.2s;
    }

        .backlog-header-icon:hover {
            background: var(--primary-color);
            color: #fff;
        }

    /* Custom arrow icon */
    .arrow-icon {
        width: 12px;
        height: 12px;
        border-right: 2px solid #333;
        border-bottom: 2px solid #333;
        justify-content: center;
        transform: rotate(-42deg);
        transition: transform .2s ease;
    }

    /* Rotate arrow when opened */
    .collaps-panel[open] .arrow-icon {
        transform: rotate(45deg);
    }

    /* Panel content */
    .collaps-panel-content {
        padding: 0 0px 12px;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
    }

    /* Table */

    .child-table {
        width: 100%;
        border-collapse: collapse;
    }

        .child-table tr td, th {
            padding-top: 0.2rem !important;
            padding-bottom: 0.2rem !important;
            padding-left: 0.3rem !important;
            padding-right: 0.3rem !important;
        }


        .child-table th {
            text-align: left;
            padding: 8px 0;
            border-bottom: 1px solid #e3e6ea;
            font-weight: 600;
            color: #505258;
        }

        .child-table td {
            padding: 10px 0;
            border-bottom: 1px solid #f3f4f6;
        }

    .child-add-wrapper {
        padding: 8px;
    }

    #backlogTaskForm {
        display: contents;
    }
    .child-add-action {
        cursor: pointer;
        color: #6c757d;
    }

        .child-add-action span:hover,
        .child-add-action span:focus {
            color: #1868db;
            outline: 2px solid #1868db;
            outline-offset: 2px;
            border-radius: 4px;
        }

    .child-add-row td {
        background: #fafafa;
        border-top: 1px solid #e0e0e0;
    }
    .task-type-btn{
        border: 1px solid #dee2e6;
        border-radius: 6px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .panel-title {
        font-size: 16px;
        font-weight: 700;
    }


</style>
<!-- Filter Bar -->
<div class="filter-bar">

   
    <button class="btn-create ms-auto" data-bs-toggle="modal" data-bs-target="#createSprintModal">
        <i class="bi bi-plus-lg"></i>
        Create Sprint
    </button>
</div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <details class="collaps-panel">
                <summary class=" d-flex align-items-center justify-content-between">

                    <!-- LEFT SIDE: Arrow + Title -->
                    <div class="d-flex align-items-center gap-2" style="color:var(--primary-color)">
                        <span class="backlog-header-icon"> <i class="arrow-icon"></i></span>
                        <span class="panel-title"> Sprint 01/01/2025 - 01/01/2026 </span>
                    </div>

                    <!-- RIGHT SIDE: Icons -->
                    <div class="d-flex align-items-center gap-3">

                        <!-- Three dots -->
@*                         <span class="right-icon more-options">
                            <span class="backlog-header-icon"> <i class="bi bi-three-dots"></i></span>
                        </span> *@

                        <!-- Plus -->
@*                         <span class="right-icon " id="btnAddChildWork">
                            <span class="backlog-header-icon"><i class="bi bi-plus-lg"></i></span>
                        </span> *@

                    </div>

                </summary>

                <div class="collaps-panel-content">
                    <table class="child-table" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:50%">Work</th>
                                <th style="width:15%">Priority</th>
                                <th style="width:20%">Assignee</th>
                                <th style="width:15%">Status</th>
                            </tr>
                        </thead>
                        <tbody id="sprintTableTbody">
                        </tbody>
                    </table>
                </div>
            </details>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <details class="collaps-panel">
                <summary class=" d-flex align-items-center justify-content-between">

                    <!-- LEFT SIDE: Arrow + Title -->
                    <div class="d-flex align-items-center gap-2" style="color:var(--primary-color)">
                        <span class="backlog-header-icon"> <i class="arrow-icon"></i></span>
                        <span class="panel-title"> Backlog </span>
                    </div>

                    <!-- RIGHT SIDE: Icons -->
                    <div class="d-flex align-items-center gap-3">

                        <!-- Three dots -->
                        <span class="right-icon more-options">
                            <span class="backlog-header-icon"> <i class="bi bi-three-dots"></i></span>
                        </span>

                        <!-- Plus -->
                        <span class="right-icon " id="btnAddChildWork">
                            <span class="backlog-header-icon"><i class="bi bi-plus-lg"></i></span>
                        </span>

                    </div>

                </summary>

                <div class="collaps-panel-content">
                    <table class="child-table" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:50%">Work</th>
                                <th style="width:15%">Priority</th>
                                <th style="width:20%">Assignee</th>
                                <th style="width:15%">Status</th>
                            </tr>
                        </thead>
                        <tbody id="backlogTableTbody">
                        </tbody>
                    </table>
                </div>
            </details>
        </div>
    </div>
</div>


<div class="modal fade flowtic-modal" id="createSprintModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content flowtick-modal-box p-0">
            <form id="createSprintForm">
                <div class="modal-header flowtick-modal-header py-1 ">
                    <h5 class="modal-title">Create Sprint</h5>
                    <button type="button" class="btn border-0 p-0" data-bs-dismiss="modal"><i class="bi bi-x-lg modal-btn-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter  Name">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="form-label">Start Date</label>
                            <input type="text" class="form-control datepicker" id="startDate" placeholder="Select start date">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="form-label">End Date</label>
                            <input type="text" class="form-control datepicker" id="endDate" placeholder="Select end date">
                        </div>
                    </div>
                   
                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter sprint description"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-create" id="saveSprint">
                        <i class="bi bi-plus-lg"></i> Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Bootstrap Datepicker JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    var _taskTypes = [];
    $(function () {

        var urlParams = new URLSearchParams(window.location.search);
        let id = urlParams.get('id');
        id = getAndDecryptID(id);


      $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
      });
  
    });
        //handle click of task type
    $(document).on("click", ".task-type-menu .dropdown-item", function (e) {
        e.preventDefault();

        // Get values from clicked element
        var id = $(this).data("id");
        var icon = $(this).find("i").attr("class");
        var style = $(this).find("i").attr("style");
        var text = $(this).text().trim();

        // Find the specific dropdown button for this menu
        var $btn = $(this).closest(".dropdown").find(".task-type-btn");

        // Update only this button
        $btn.attr("data-id", id);
        $btn.find("i").attr("class", icon).attr("style", style);
        $(".task-type-btn span").text(text);
    });
        //add subtask row to create subtask inside task
    $(document).on("click", "#btnAddChildWork", function (e) {
        // Stop click from propagating to parent elements
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();

        getTaskTypes();
        // loadTaskTypeDropdown();

        const $tbody = $("#backlogTableTbody");

        // Prevent multiple add rows
        if ($tbody.find(".child-add-row").length) return;

        const rowHtml = `
                                <tr class="child-add-row">
                                  <td colspan="5">
                                    <div class="d-flex align-items-center gap-2 child-add-wrapper">
                                    <form id="backlogTaskForm">
                                      <input tabindex="0" type="text" class="form-control child-add-input" placeholder="What needs to be done?" id="childWorkTitle" required/>
                                     </form>
                                      <!-- Epic/Task/Bug dropdown -->
                                              <div class="dropdown">
                                                    <a class="text-decoration-none  dropdown-toggle  task-type-btn default-selected-value" data-bs-toggle="dropdown" id="childTaskTypeID" >
                                                          <i class=""></i><span class="ms-2 text-black"></span>
                                                  </a>
                                                      <div class="dropdown-menu task-type-menu">
                                                          <!-- Dynamic items will load here -->
                                                    </div>
                                              </div>
                                      <span class="child-add-action">
                                       <span  tabindex="0"  onclick="createTask('subTask');"  onkeypress="if(event.key==='Enter') createTask('subTask')"> <i class="bi bi-arrow-return-left"></i>  </span>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                              `;

        $tbody.append(rowHtml);

        // Auto focus
        $tbody.find(".child-add-input").focus();
    });

    function getTaskTypes() {
        apiRequest({
            url: 'flowtick/task/types',
            type: 'GET',
            data: {},
            callBack: getTaskTypesCallBack
        });
    }
    var getTaskTypesCallBack = function (response) {
        if (response.request.status === 200) {

            _taskTypes = response.data; // your array
            loadTaskTypeDropdown();
        }
        else {
            errorExtractor(response);
        }
    };
    function loadTaskTypeDropdown() {


        // default selected type in create Subtask  id = 4
        var defaultItemForSubTask = _taskTypes.find(x => x.id == 4);
        if (defaultItemForSubTask) {
            $(".default-selected-value").attr("data-id", defaultItemForSubTask.id);
            $(".default-selected-value i").attr("class", defaultItemForSubTask.icon).attr("style", defaultItemForSubTask.iconCSS.replace('style="', '').replace('"', ''));

            $(".default-selected-value span").text(defaultItemForSubTask.description);
            $(".default-selected-value").attr("readonly");
        }

        var $taskTypeMenu = $('.task-type-menu');

        $taskTypeMenu.empty(); // Clear old items

        $.each(_taskTypes, function (index, item) {
            var li = `
                                          <li>
                                              <a class="dropdown-item" href="#" data-id="${item.id}">
                                                  <i class="${item.icon} " ${item.iconCSS}></i>
                                                  ${item.description}
                                              </a>
                                          </li>
                                      `;

            $taskTypeMenu.append(li);
        });
    }
</script>