@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_FlowtickLayout.cshtml";
}
<div class="container mt-2">
    <form id="projectForm">
        <input type="hidden" id="id" />
        <div class="form-group col-8 offset-2 pt-4">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Project Name">
        </div>
        <div class="form-group col-8 offset-2 pt-4">
            <label for="key">Key/Code</label>
            <input type="text" class="form-control" id="key" placeholder="Project Key">
        </div>
        <div class="form-group col-8 offset-2 pt-4">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group row pt-4  pt-4 col-8 offset-2">
            <label class="col-md-12 col-form-label ps-0">
                Email Notification
            </label>
            <div class="col-12 ps-0">
                <div class="row">
                <div class="form-check col-4">
                    <input type="checkbox" class="fs-5 me-1 task-type-checkbox" checked disabled />
                    <label for="onTaskAssignment" class="mb-0 cursor-pointer">
                        On Task Assignment
                    </label>
                </div>

                <div class="form-check col-4 text-center">
                    <input type="checkbox" class="fs-5 me-1 task-type-checkbox" checked disabled/>
                    <label for="onTaskStatusToReview" class="mb-0 cursor-pointer">
                        On Task Status To Review
                    </label>
                </div>

                <div class="form-check col-4 text-end">
                    <input type="checkbox" class="fs-5 me-1 task-type-checkbox" checked disabled />
                    <label for="onTaskStatustoDone" class="mb-0 cursor-pointer">
                        On Task Status to Done
                    </label>
                </div>
                </div>
            </div>           
        </div>
        <div class="form-group col-2 offset-8 text-end pt-4">
            <button type="button" class="btn-create" id="btnSave">
                <i class="bi bi-floppy pe-1"></i>
                Save
            </button>
        </div>
    </form>    
</div>


<script src="~/js/functionalityjs/project/settings.js"></script>
